@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
  --main-font: 'Montserrat', 'Roboto', 'Verdana', sans-serif;
  --mono-font: 'Roboto Mono', 'Hack', 'Consolas', monospace;
  --trans-dur: .3s;
  --color-bg: #000;
  --color-txt: #fff;
  --color-link: #ffcbcb;
  --color-btn: #40bc06;
  --color-btn-hover: #42d275;
  --color-slider: #ffb4b4c9;
  --color-slider-bg: #fff;
}
:root[data-theme="day"] {
  --color-bg: #fff;
  --color-txt: #000;
  --color-link: #5692f0;
  --color-btn: #7f6ed2;
  --color-btn-hover: #9888e7;
  --color-slider: #70c5efc9;
  --color-slider-bg: #5137d3;
}
body {
  background: var(--color-bg);
  color: var(--color-txt);
}
a {
  color: var(--color-link);
}
.btn {
  background-color: var(--color-btn);
}
.btn:hover {
  background-color: var(--color-btn-hover);
}
input[type=range] {
  background: var(--color-slider);
}
input[type="range"]::-webkit-slider-thumb {
  background: var(--color-slider-bg);
}
input[type=range]::-moz-range-thumb {
  background: var(--color-slider-bg);
}
body {
  font-family: var(--main-font);
  transition-duration: var(--trans-dur);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 700px;
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
  line-height: 2em;
}
h1 {
  line-height: 1.5em;
}
#content {
  padding: 5px 20px;
}
img {
  border-radius: 15px;
}
.btn {
  color: #fff;
  border-radius: 500px;
  transition-duration: var(--trans-dur);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px;
  margin: 2%;
}
.btn:hover {
  transition-duration: var(--trans-dur);
}
.btn:not(:disabled):active {
  transition-duration: var(--trans-dur);
  opacity: 0.8;
}
.btn:disabled{
  background-color: #808080;
  cursor: not-allowed;
}
a {
  text-decoration: none;
  font-weight: 500;
  transition-duration: var(--trans-dur);
}
a:hover {
  text-decoration: underline;
  transition-duration: var(--trans-dur);
}
.row {
  padding: 10px;
  display: flex;
  /* justify-content: center; */
  padding-left: 100px;
}

/* slider */
input[type=range] {
  transition-duration: var(--trans-dur);
  top: 14px;
  position: relative;
  margin-right: 13px;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 5px;
  outline: none;
  border-radius: 20px;
}
/* firefox slider thumb */
input[type=range]::-moz-range-thumb {
  transition-duration: var(--trans-dur);
  appearance: none;
  border: 0px solid #000;
  height: 20px;
  width: 5px;
  cursor: grab;
}
/* chromium slider thumb */
input[type="range"]::-webkit-slider-thumb {
  transition-duration: var(--trans-dur);
  -webkit-appearance: none;
  border: 0px solid #000;
  border-radius: 5px;
  height: 20px;
  width: 5px;
  cursor: grab;
}

input[type=text] {
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
}

#refresh {
  position: absolute;
  right: 20px;
  top: 100px;
}

.fontMono {
  font-family: var(--mono-font);
}

#sauceDiv {
  left: 50%;
  position: absolute;
  display: flex;
  transform: translate(-50%);
}
#sauceDiv > a {
  display:flex; 
  text-decoration:none;
}
#night-btn{
  cursor: pointer;
  user-select: none;
  position: absolute;
  z-index: 10;
  right: 0px;
}

@media (max-width: 800px) {
  body {
    width: 80%;
  }
  .btn {
    text-transform: uppercase;
    margin-top: 7%;
  }
  input[type="text"] {
    width: 90%;
    height: 2em;
  }
  #content {
    padding: 0px;
  }
  #refresh {
    display: none;
  }
}