body{
  background: #fff;
  color: #000;
}

a{
  color: #5692f0;
}
.btn {
  background-color: #7f6ed2;
}
.btn:hover {
  background-color: #9888e7;
}
input[type=range] {
  background: #70c5efc9;
}
input[type="range"]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb{
  background:#5137d3;
}