<!DOCTYPE html>
<html>
<head>
  <title>LF2</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='helper.js') }}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="icon" href="https://i.imgur.com/mypR8sN.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% if request.path != '/' %}
    <div class="navbar">
      <a href="{{ url_for('index') }}">Dashboard</a>
    </div>
  {% endif %}

  {% block heading %}{% endblock %}

  {% if request.path != '/invalid' %}
    <div class="input_area">
      <span>Seek time to how many minutes before?</span>
      <input type="range" id="timeRange" min='0', max='6000' step='1' value='30'></input>
      <span><span id="timeRangeVal"></span>m</span>
    </div>
  {% endif %}

  <div class="content">
    {% if request.path != '/invalid' %}
      <button id="refresh" class="btn">Refresh</button>
    {% endif %}
    {% block content %}{% endblock %}
  </div>

</body>
</html>
<script>
$('#refresh').off('click');
$('#refresh').on('click', function(){
  getEverything();
});
// on value change
$('#timeRange').on('input', function(){
  $('#timeRangeVal').html($('#timeRange').val());
});
// on mouse release
$('#timeRange').on('mouseup', function(){
  getEverything();
});
var resizing = 0;
$(window).resize(function(){ // mainly for redrawing charts responsively
  // prevent multiple calls
  if(resizing){
    return;
  }
  resizing = 1;
  setTimeout(function(){
    getEverything();
    resizing = 0;
  }, 500);
});
</script>
{% block script %}{% endblock %}