{% extends 'base.html' %}

{% block body %}
<h1>haha</h1>
<div class="content">
  <button id="refresh" class="btn">Refresh</button>
  <div>
    <p>Attendance: <span id="numAttendance">?</span>/<span id="numStudent">?</span></p>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

function getOverallAttendance(){
  var objData = {
    'time_range': 6000
  };
  // objData['message']['text'] = msg;
  getData('/get_overall_attendance', objData, function(data){
    console.log(data['num_attendance'], data['num_student']);
    $('#numAttendance').text(data['num_attendance']);
    $('#numStudent').text(data['num_student']);
  });
};

$(document).ready(function(){
    getOverallAttendance();
    $('#refresh').off('click');
    $('#refresh').on('click', function(){
      getOverallAttendance();
    });
});
</script>
{% endblock %}