{% extends 'base.html' %}

{% block heading %}
<h1>Current State of the Classroom</h1>
{% endblock %}

{% block content %}
  <div id="attendanceDiv"></div>
  <div id="attendanceGraphDiv"></div>
  <div id="studentDiv"></div>
{% endblock %}

{% block script %}
<script>

function getOverallAttendance(){
  var objData = {
    'time_range': $('#timeRange').val()
  };
  getData('/get_overall_attendance', objData, function(data){
    overallAttendance = data['overall_attendance'];
    numStudent = data['num_student'];
    console.log(overallAttendance, numStudent);
    attendanceDataNum = overallAttendance.length;
    if(attendanceDataNum == 0){
      numAttendance = 0;
    }else{
      numAttendance = overallAttendance[attendanceDataNum-1]['student_id'].length;
    }
    $('#attendanceDiv').html('<p>Attendance: '+ numAttendance +'/'+ numStudent +'</p>')
    
    if(attendanceDataNum < 2){
      $('#attendanceGraphDiv').html('<p>Not enough data to show graph.</p>');
    }else{
      $('#attendanceGraphDiv').html('');
      attandanceVsTimeArr = [];
      for(var item of overallAttendance){
        attandanceVsTimeArr.push([new Date(item['log_time']), item['student_id'].length]);
      }
      attandanceVsTimeArr.sort();
      drawLine(attandanceVsTimeArr, 'attendanceGraphDiv', 'log time', 'num of students');
    }
  });
};

function getStudents(){
  var objData = {
    'time_range': $('#timeRange').val()
  };
  getData('/get_students', objData, function(data){
    console.log(data);
    var studentHtml = '<ul>';
    for(var student of data){
      student_id = student["student_id"];
      studentHtml += '<li><a href=/std/'+ student_id +'>'+ student_id + ' ' + student['student_name'] + '</a>: ';
      if(student['is_present']){
        studentHtml += '<span class="present">Present</span>';
      }
      else{
        studentHtml += '<span class="absent">Absent</span>';
      }
      studentHtml += '</li>';

    }
    studentHtml += '</ul>';
    $('#studentDiv').html(studentHtml);
  });
};

function getEverything(){
  $('#timeRangeVal').html($('#timeRange').val());
  getOverallAttendance();
  getStudents();
}

$(document).ready(function(){
    $('#attendanceDiv').html('<p>Attendance: ?/?</p>')

    getEverything();

    // $('#refresh').off('click');
    // $('#refresh').on('click', function(){
    //   getEverything();
    // });
});
</script>
{% endblock %}