{% extends 'data_blade.html' %}

{% block heading %}
<h1>{{ student_id }}</h1>
{% endblock %}

{% block content %}
<div id="studentAttendance"></div>
<div id="attendanceGraphDiv"></div>
{% endblock %}
  
{% block data_script %}
<script>

function getStudentAttendance(){
  var objData = {
    'time_range': $('#timeRange').val(),
    'student_id': '{{ student_id }}'
  };
  getData('/get_student_attendance', objData, function(data){
    console.log(data);
    studentAttendance = data['student_attendance'];
    attendanceDataNum = studentAttendance.length;
    // get the most recent attendance data
    if(attendanceDataNum == 0){
      isPresent = 0;
    }else{
      isPresent = studentAttendance[attendanceDataNum-1][1];
    }
    studentAttendanceHtml = '';
    if(isPresent){
      studentAttendanceHtml += '<p>Present</p>';
    }
    else{
      studentAttendanceHtml += '<p>Absent</p>';
    }
    $('#studentAttendance').html(studentAttendanceHtml);

    if(attendanceDataNum < 2){
      $('#attendanceGraphDiv').html('<p>Not enough data to show graph.</p>');
    }else{
      $('#attendanceGraphDiv').html('');
      attandanceVsTimeArr = [];
      for(var item of studentAttendance){
        attandanceVsTimeArr.push([new Date(item[0]), item[1]]);
      }
      attandanceVsTimeArr.sort();
      drawLine(attandanceVsTimeArr, 'attendanceGraphDiv', 'log time', 'Is present?');
    }
  });
};

function getEverything(){
  $('#timeRangeVal').html($('#timeRange').val());
  getStudentAttendance();
}

$(document).ready(function(){
  getEverything();
});
</script>
{% endblock %}